.logo {
    /*font-size: 30p;*/
    font-weight: bolder;
}
header .src-area .src-input {
    position: absolute;
    top: 17px;
    bottom: 0;
    left: 0;

}


/* ---------------------------------
10. FOOTER
--------------------------------- */
/* 13 - sub footer */
#sub_footer {
    background-color: black;
    padding: 50px;
}

#sub_footer h3 {
    font-size: 26px;
    color: white;
}

#sub_footer h3::after {
    display: block;
    height: 2px;
    font-weight: bold;
    background-color: #911a1e;
    content: " ";
    width: 50px;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

#sub_footer .about p {
    padding: 10px 15px 0 0;
    font-size: 15px;
    color: #ececec;

}

#sub_footer .contact p {
    padding-bottom: 10px;
    font-size: 15px;
    color: #ececec;
}

#sub_footer .contact a {
    text-decoration: none;
}

#sub_footer .contact a:hover {
    color: #ffffff;
    transition: ease-in-out .2s;
}

#sub_footer .service p {
    font-size: 15px;
    font-style: normal;
    text-decoration: none;
}

#sub_footer .service p:hover {
    color: #ffffff;
    transition: ease-in-out .2s;
}

#sub_footer .service a {
    font-size: 15px;
    text-decoration: none;
}

#sub_footer .service a:hover {
    color: #ffffff;
}


#sub_footer .tags a {
    font-size: 10px;
    text-decoration: none;
    background-color: #292929;
    border: 0;
    margin: 5px;
    color: white;
}

#sub_footer .tags a:hover {
    color: #ffffff;
    background-color: #7f7f7f;
}

/* 14 - footer*/
footer .container  {
    border-top:1px solid #f6f7ff;

}
footer  {
    height: 100px;
    background-color: #000000;
    padding: 20px;
    color: black;
}



footer p:first-child {
    padding: 30px;
    font-weight: normal;
    color: #7f7f7f;
    font-size: 17px;
}

footer a:hover {
    color: #911a1e;
    transition: ease-in-out .3s;
    text-decoration: none;
}

footer a {
    color: #de2329;
    transition: ease-in-out .3s;
    text-decoration: none;
}

#sub_footer .fa-facebook, .fa-google, .fa-twitter, .fa-linkedin {
    font-size: 12px;
    border-radius: 50%;
    padding: 12px 14px;
    margin-left: 8px;
    color: white;
    background-color: #7f7f7f;

}

#sub_footer .fa-facebook:hover {
    background-color: #4c4c4c;
    color: #3b66ca;

}

#sub_footer .fa-linkedin:hover {
    background-color: #4c4c4c;
    color: #3b66ca;

}

#sub_footer .fa-twitter:hover {
    background-color: #4c4c4c;
    color: #61c3ca;

}

#sub_footer  .fa-google:hover {
    background-color: #4c4c4c;
    color: #ca230c;

}

#subscribers {
    background: #383838;
    padding: 20px;
}





#subscribers .input-area{
    height: 50px;
    width: 100%;
}

#subscribers .input-area .email-input{ position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px;
    background: white;
    border: 0;
    outline: 0;
}

#subscribers .input-area .email-input:focus{ box-shadow: 0 0 1px #aaa; }

#subscribers .input-area .submit-btn{ position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    background: none;
    border: 0;
    outline: 0;
    margin-right: 10px;
    opacity: .8; cursor: pointer;
    transition: all .2s; }
#subscribers .footer-section{ margin-bottom: 20px; }

#subscribers .footer-section .title{ margin-bottom: 20px; }

#subscribers .footer-section ul > li{ margin-right: 10px; margin-top: 10px; }

#subscribers h3 {
    font-size: 30px;
    color: white;
    margin: 0;
    font-weight: bolder;

}